* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  z-index: 1;
}

canvas {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generate-tree {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 10;
  transform: translate(-50%, 0);
  padding: 20px 30px;
  border-radius: 50px;
  background: brown;
  color: black;
  font-size: 20px;
  width: 300px;
  overflow: hidden;
}
